<ol id="two-columns">
  <li><a routerLink="/rxjs" routerLinkActive="active">RxJS + Observable</a></li>
  <li><a routerLink="/custom-routing" routerLinkActive="active">Маршрутизація</a></li>
  <li><a routerLink="/modules" routerLinkActive="active">Модулі</a></li>
  <li><a routerLink="/store" routerLinkActive="active">Сховище даних</a></li>
  <li><a routerLink="/ssr" routerLinkActive="active">SSR</a></li>
  <li><a routerLink="/optim" routerLinkActive="active">Оптимізація</a></li>
  <li><a routerLink="/author" routerLinkActive="active">Авторізація</a></li>
  <li><a routerLink="/deploy" routerLinkActive="active">Деплой</a></li>
  <li><a routerLink="/an18" routerLinkActive="active">Angular 18</a></li>
</ol>
