<h1>Routing</h1>

<div class="menu">
  <a class="menu" routerLink="/custom-routing/home" routerLinkActive="active">Початок</a>
  <a class="menu" routerLink="/custom-routing/products" routerLinkActive="active">Наші продукти</a>
  <a class="menu" routerLink="/custom-routing/pricing" routerLinkActive="active">Ціни</a>
  <a class="menu" routerLink="/custom-routing/about" routerLinkActive="active">Про нас</a>
  <a class="menu" routerLink="/custom-routing/sign-up" routerLinkActive="active">Реєстрація</a>
</div>
<router-outlet></router-outlet>
